/* Mobile */
@media screen and (max-width: 768px) {
  .container {
    margin: 0 10px;
    width: 90% !important;
  }

  header {
    position: sticky;
    height: auto;
    margin: 0;
    padding: 0px 0px;
    z-index: 999999;
    .container {
      flex-direction: column;
      align-items: flex-start;
      .logo {
        padding: 10px;
        .fa-newspaper {
          font-size: 20px;
        }
        p {
          margin-left: 3px;
          font-size: 18px;
        }
      }
    }

    /* Search Bar */
    .search {
      position: absolute;
      top: 14px;
      right: 100px;
      width: 40%;
    }
    nav {
      display: none;
      margin-top: 20px;

      ul {
        flex-direction: column;
      }
    }

    .menu-toggler-icon {
      display: block;
      position: absolute;
      top: 20px;
      right: 18px;
      width: 22px;
      height: 22px;
    }

    .submenu-plate {
      position: relative;
    }

    #menu-toggler {
      display: block;
      position: absolute;
      top: 24px;
      right: 20px;
      background-color: rgba(45, 45, 45, 0);
      border: none;
      outline: none;
      appearance: none;
      width: 32px;
      height: 32px;
    }

    #menu-toggler:checked + nav {
      display: block;
    }
  }

  .subheader {
    display: none;
  }

  .main-news {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* padding: 0px 1px; */
    align-items: center;
    .flex {
      flex-direction: column;
    }
    .left {
      margin-left: 12%;
      width: 82%;
      img {
        width: 100%;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      width: 100vw;
      margin-left: 14px;
      align-items: center;
    }
  }
  /* More Articles aka. Real News Real Time */
  .more-articles {
    margin: 0;
    padding: 0;

    .more-articles-single {
      padding: 10px;
      flex-direction: column;
      width: 100%;
      align-items: left;
      text-align: left;
      h5 {
        margin: 2px;
        font-weight: bold;
        font-size: 14px;
      }
      p {
        margin: 0;
        font-size: 12px;
      }

      img {
        margin: 0px;
        padding: 0px;
        width: 50%;
        border-radius: 5px;
      }
    }
  }
  /* Red Line */
  .red-line {
    width: 70%;
    border-bottom: 4px solid red;
    /* margin-left: 10%; */
  }
  /* Slogan */
  .slogan {
    margin: 10px 0px;
    background-color: var(--brand-hard-gray);
    .red-line-small {
      width: 90px;
    }
  }
}
