@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --scrollbar-color: #832cee;
  --text-color: #212529;
  --header-sidebar-white: #fff;
  --brand-primary: #6001d2;
  --brand-black: #1d2229;
  --grey-text: #5c626b;
  --brand-gray: #f0f4f4;
  --brand-hard-gray: #d5d1d4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--brand-gray);
  margin: 15px;
}

.red-line-small {
  display: block;
  width: 6%;
  border-bottom: 8px solid red;
  /* margin-left: 10%; */
}
.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.center {
  align-items: center;
  justify-content: center;
}
.start {
  align-items: start;
  justify-content: start;
}
.flex-kolone {
  flex-direction: row;
}
.grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0px 0px;
}

.bg-gray {
  background-color: var(--brand-gray);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  display: inline-flex;
  color: var(--text-color);
  border: 1px solid var(--brand-hard-gray);
  border-radius: 10px;
  font-size: 1em;
  line-height: 1em;
  transition: all 0.2s ease-in-out;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  cursor: pointer;

  &:hover {
    color: var(--brand-primary);
    box-shadow: 0px 0px 3px 3px rgb(232, 232, 232);
  }
}

/* Header */
header {
  display: flex;
  background: var(--header-sidebar-white);
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 9999999;
  .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .fa-newspaper {
      color: var(--brand-primary);
     
    }
    p {
      font-family: Biryani;
      font-weight: 800;
      display: inline;
      color: black;
    }
  }
  /* Search Bar */
  .search {
    border: 1px solid var(--brand-gray);
    background: var(--brand-gray);
    margin-right: 20px;
    width: 400px;
    height: 35px;
    border-radius: 30px;
    outline: none;
    &:hover {
      background: var(--header-sidebar-white);
    }

    input {
      width: 85%;
      height: 100%;
      border: 0 solid;
      font-size: 16px;
      padding: 0 15px;
      outline: 20px;
      color: var(--brand-primary);
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      background: var(--brand-gray);
      &:hover {
        background: var(--header-sidebar-white);
      }
      &:focus {
        background: var(--header-sidebar-white);
      }
    }
    /* Search Button */
    .search-btn {
      width: 25%;
      height: 100%;
      background: var(--brand-primary);
      color: var(--header-sidebar-white);
      border: 1 solid var(--brand-hard-gray);
      font-size: 20px;
      outline: none;
      border-radius: 30px;
    }
  }
  .submenu-plate {
    position: absolute;
    right: 0;

    width: 300px;
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      margin: 0 15px;
      position: relative;

      ul {
        background-color: var(--brand-gray);
        border: 1px solid var(--brand-hard-gray);
        border-radius: 5px;
        position: absolute;

        li {
          margin: 0px;
        }

        a {
          padding: 12px 16px;
          display: block;
          margin: 0px;

          &:hover {
            color: var(--brand-gray);
            background-color: var(--brand-primary);
          }
        }
      }

      &:hover ul.submenu {
        display: block;
        z-index: 99999;
      }
    }

    a {
      color: var(--brand-black);
      font-family: "Inter", Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 16px;
      display: inline-block;
      margin: 15px 0px;

      i {
        display: inline-block;
        margin-left: 8px;
      }
      &:hover {
        color: var(--brand-primary);
      }
    }
  }

  #menu-toggler,
  .menu-toggler-icon {
    display: none;
  }

  .submenu {
    display: none;
  }
}
/* Subheader */
.subheader {
  background-color: var(--brand-gray);

  width: 100%;

  a {
    padding: 8px;

    &:hover {
      color: var(--brand-gray);
      background: var(--brand-primary);
    }
  }
}

/* Main News */
.main-news {
  .left {
    width: 50%;
    background-color: var(--header-sidebar-white);
    padding-top: 10px;
    margin-left: 0;
    position: relative;
    text-align: left;
    color: white;
    .bottom-left {
      background-color: rgba(91, 7, 237, 0.5);
      position: absolute;
      padding: 20px;
      bottom: 10px;
      left: 0px;
      &:hover {
        cursor: pointer;
        background: var(--brand-primary);
      }
    }
  }
  .right {
    width: 49%;

    .title {
      margin-left: 10px;
      margin-top: 8px;
      width: 100%;
    

      p {
        margin-left: 5px;
      }
      img {
        width: 120px;
        border-radius: 5px;
      }
    }
  }
  img {
    width: 100%;
  }
}
/* More Articles aka. Real News Real Time*/
.more-articles {
  display: grid;
  padding-top: 10px;
  .more-articles-single {
    height: 250px;
    border: 1px solid var(--brand-hard-gray);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    h5 {
      font-size: 18px;
      margin-top: 10px;
      margin-left: 10px;
    }
    p {
      margin-left: 10px;
      margin-top: 8px;
      font-size: 14px;
      color: var(--text-color);
    }
    img {
      width: 60%;
    }
    .article-long {
      overflow-y: hidden;
    }
  }
}

/* Trending Section */
.trending-section {
  padding: 1% 1%;
  .trending-article {
    flex-basis: 66%;
  }
  .other-trending {
    flex-basis: 32%;
  }
  .trending-article img {
    width: 100%;
  }
  .trending-article .article-info {
    font-size: 14px;
    p {
      color: var(--grey-text);
    }
  }
  /* Other Trending Article */
  .other-trending-article {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    img {
      width: 100%;
      border-radius: 5px;
    }
    .thumbnail {
      padding: 5px;
      flex-basis: 49%;
    }
    .details {
      flex-basis: 49%;
    }
  }
}

/* Categories */
.category {
  cursor: pointer;
  position: relative;
  width: 40%;
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
  }
  .middle {
    transition: 0.5s ease;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  &:hover {
    .middle {
      opacity: 1;
    }
    .image {
      opacity: 0.5;
    }
  }
  .text {
    background-color: var(--brand-primary);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
}
/* Footer */
footer {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  p {
    font-size: 1em;
  }
  .container {
    display: grid;
  }

  img {
    width: 300px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.25em;
    color: var(--brand-primary);
    margin-bottom: 20px;
  }

  p.contact {
    margin-top: 20px;
  }

  li {
    margin-bottom: 8px;
  }

  a {
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--brand-black);

    &:hover {
      color: var(--brand-primary);
    }
  }
}

/* Custom ScrollBar  */
/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #dbd2f7;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brand-primary);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color);
}