/* Medium Sized Devices */
@media screen and (min-width: 768px) {
  /* Body */
  body {
    margin: 0 20px;
  }
  header {
    .container {
    .logo {
      i {
        font-size: 26px;
      }
      p {
        margin-left: 4px;
        font-size: 26px;
      }
    }
    .search {
      width: 25%;
    }
  }
  }
  /* Main News */
  .main-news {
    display: flex;
    flex-direction: column;
    width: 100%;
    .flex {
      flex-direction: row;
      
    }
    .left {
      width: 65%;
      position: relative;
      img {
        width: 100%;
      }
      .bottom-left {
        position: absolute;
        padding: 60px;
        width: 100%;
        left: 0px;
      }
    }
    .right {
      width: 30%;

      .title {
        display: flex;
        width: 95%;
        height: 80px;
        padding: 8px;
        text-align: left;
        p {
          font-size: 14px;

          overflow: hidden;
        }
        img {
          width: 30%;
        }
      }
    }
  }
  /* Slogan */
  .slogan {
    margin: 10px 0px;
    background-color: var(--brand-hard-gray);
    .red-line-small {
      width: 90px;
    }
  }
  /* Footer */
  footer {
    .container {
      font-size: 20px;
      margin: 0 10px;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;

      .col:first-child {
        grid-column: 1 / 5;
      }

      i {
        color: var(--brand-primary);
        padding-top: 20px;
        font-size: 20px;
      }
    }
  }
}
